* {
    font-family: Klee; font-weight: normal;
    margin: 0;
    outline: none;
}


h1 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

.text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
    color: red;
}

.new_account {
    text-align: center;
}

.add_err {
    text-align: center;
    color: red;
    font-size: 15px
}

input {
    width: 430px;
    height: 30px;
    margin-top: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
}


.button {
    margin: 80px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    background: #000;
    padding: 12px 120px;
}




@media screen and (max-width: 600px) {

h1 {
    text-align: center;
    margin: 40px;
    font-size: 30px;
}

.text {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.new_account {
    text-align: center;
}


input {
    width: 300px;
    height: 30px;
    margin-bottom: 0;
    margin-top: 50px;
}

.add_err {
    text-align: center;
    color: red;
    font-size: 13px
}


.button {
    margin: 70px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    background: #000;
    padding: 12px 100px;
}



}