* {
margin: 0;
}

h1 {
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

.text_01 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    color: red;
}

.new_account {
    text-align: center;
}

.text {
    font-size: 25px;
}


.pass_err {
    text-align: center;
    color: red;
    margin: 40px;
}

.mail_err {
    text-align: center;
    color: red;
    margin: 40px;
}



.input {
    width: 400px;
    height: 25px;
    margin-bottom: 50px;
}

.button {
    margin: 20px;
}

span {
    color: red;
    font-size: 15px;
}

.button {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    background: #fff;
    padding: 12px 70px;
}


.button:hover{
    color: #fff;
    background: #000;
}

@media screen and (max-width: 600px) {

h1 {
    text-align: center;
    margin: 40px;
    font-size: 30px;
}

.text_01 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.new_account {
    text-align: center;
}

.text {
    margin: 0px;
    font-size: 20px;
}

.input {
    width: 300px;
    height: 25px;
    margin-bottom: 40px;
}


span {
    color: red;
    font-size: 10px;
}

.button {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    background: #fff;
    padding: 12px 70px;
}


.button:hover{
    color: #fff;
    background: #000;
}


}