*{
  font-family: 'Nanum Myeongjo', serif;

}

* {
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 3px 0px 3px 30px;
  margin: 10px 15px 15px;
  background: #fff;
  height: 50px;
  box-shadow: 0px 1px 3px 0px;
}


.mobile {
  display: none;
}
.pc {
  display: inline-block;
}

button {
  border: none;
  background: none;
}

nav {
  margin: 0 0 0 auto;
padding-right: 50px;
  }

li {
  list-style: none;
  display: inline;
  padding: 10px;
  /* background: none; */
}


li:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}


body {
  background: #F7F6F2;
}




  @media screen and (max-width: 650px) {

.mobile {
  display: flex;
}

.pc {
  display: none;
}

    header {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* min-height: 120vw; */
    }
    nav {
        background: #fff;
        border-radius: 30px;
        width: 390px;
        margin-left: 10px;
        position: fixed;
        bottom: 0;
        height: 70px;
        /* padding: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav > ul {
        display: flex;
        text-align: center;
    }
    li {
        list-style: none;
    }
    img {
        margin:5px;
        border-radius: 35px;
        filter: drop-shadow(0px 1px 3px #707070);
    }
}


