* {
    margin-top: 20px;
}

/* =====ユーザー名===== */
.user_name {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

/* =====入力画面===== */
input {
    margin-top: 20px;
    width: 350px;
    height: 20px;
}

.input_position {
    text-align: center;
}

/*===== 決定ボタン===== */
.button_send {
    text-align: center;
    margin: 10px;
}

.message {
    text-align: center;
    margin: 10px;
    font-size: 15px;
    color: red;
}

@media screen and (max-width: 600px) {

/* =====ユーザー名===== */
.user_name {
    font-size: 18px;
    }

/* =====入力画面===== */
input {
    margin-top: 15px;
    width: 250px;
    height: 19px;
    }
}