a {
    text-decoration: none;
}

/* =====見出し===== */
h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

/* =====トップ画面移ボタン===== */
.button_login {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    background: #fff;
    padding: 15px 60px;
}

.button_login:hover {
    color: #fff;
    background: #000;
}

.button_login_position {
    text-align: center;
    margin-top: 150px;
}