* {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

/* =====見出し===== */
h1 {
    font-size: 30px;
    text-align: center;
}

/* =====メール送信===== */
input {
    margin-top: 30px;
    width: 250px;
    height: 19px;
}

.input_position {
    text-align: center;
}

/* =====メール送信確認_送れた===== */
.message_ok {
    text-align: center;
    margin: 10px;
    font-size: 15px;
    color: blue;
}

/* =====メール送信_送れなかった===== */
.message_err {
    text-align: center;
    margin: 10px;
    font-size: 15px;
    color: red;
}

/* =====メール送信ボタン===== */
.button_send {
    text-align: center;
    margin-top: 200px;
}

/* =====トップ画面移ボタン===== */
.button_login {
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    background: #fff;
    padding: 15px 60px;
}

.button_login:hover {
    color: #fff;
    background: #000;
}

.button_login_position {
    text-align: center;
    margin-top: 200px;
}